body {
  font-family: 'Inter', sans-serif;
}

.heading{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 20px;
  margin-top: 3rem;
}

.tabs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab.selected{
  background-color: black;
  color: white;
}

.tab{
  background-color: #f2f2f2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  border-radius: 4px;
  font-weight:500;
  font-size: large;
  margin: 20px 0px 20px 0px;
}

.cardContainer{
  margin: 20px 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards{
  border-radius: 4px;
}

.card-image{
  position: relative;
}

img{
  height: 300px;
  width: 250px;
  border-radius: 6px;
}

.image{
  object-fit: cover;
}

.badge-container{
  width: 7.5rem;
  height: 1.8rem;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px 4px 2px 4px;
  background-color: white;
  color: black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 500;
}

.badge-text{
  font-weight: 500;
}

.detailHeader{
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin: 5px 0px 5px 0px;
}

.title{
  font-weight: bold;
  font-size: large;
}

.vendor{
  font-size: 0.9rem;
  font-weight: 400;
}

.price-container{
  display: flex;
  gap: 10px;
  font-size: small;
  margin: 5px 0px 8px 0px;
}

.actual-price{
  font-weight: bold;
}

.compare-price{
  color: #8F8F8F;
}

.discount{
  color: red; 
  font-weight: 600;
}

.add-to-cart-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

@media screen and (max-width:767px){
  .heading{
    font-size: 25px;
  }

  .cardContainer{
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width:1024px){
  h1{
    text-align: center;
    font-size: 2rem;
    line-height: 20px;
    margin-top: 3rem;
  }

  .cardContainer{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
}
